html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "icomoon";
  src: url("../styles/fonts/icomoon.eot") format("embedded-opentype"),
    url("../styles/fonts/icomoon.svg") format("svg"),
    url("../styles/fonts/icomoon.ttf") format("ttf"),
    url("../styles/fonts/icomoon.woff") format("woff"),
    url("../styles/fonts/icomoon.woff2") format("woff2");
}
